* {
  font-family: 'Raleway', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.top-section {
  width: 100%;
  height: 10vh;
  background-color: #2A7C6F;
  padding: 5px 50px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

nav {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  background-color: #EEFAF7;
}

.nav-links {
  display: flex;
  width: 40%;
  list-style: none;
  justify-content: space-between;
}

#nav-a {
  color: #7DD3C6;
  text-decoration: none;
  font-size: 20px;
}

#nav-a:hover {
  color: #2A7C6F;
  transition: all 0.2s ease-in-out;
}


.welcome-section {
  display: flex;
  flex-direction: row;
}

/* Split the screen in half */
.split {
  height: 85vh;
  width: 50%;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #309483;
}

/* If you want the content centered horizontally and vertically */
.centered {
  margin: 10vh auto;
  width: 70%;
  /* border: 3px solid blue; */
}

#welcome-image {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#welcome-header{
  font-size: 72px;
}

.recipes-section{
  height: 40vh;
  background-color: #2A7C6F;
  display: flex;
}

.recipe-card{
  height: 30vh;
  width: 30vh;
  /* background-color: #7DD3C6; */
  margin: 5vh auto;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.recipe-image{
  object-fit: cover;
  width: 100%;
  height: 70%;
  max-height: 100%;
}

.recipe-title{
  font-size: 20px;
  text-align: center;
  padding: 5px 0 0 0;
}

.welcome-text{
  font-size: 27px;
  margin-top: 40px;
}